
[submodule "sdk-rollup"]
    path = sdk-rollup
    url = git@github.com:webkong/workflow-templates/sdk-rollup.git
[submodule "template"]
    path = template
    url = git@github.com:webkong/workflow-templates/template.git
[submodule "vue"]
    path = vue
    url = git@github.com:webkong/workflow-templates/vue.git
[submodule "web"]
    path = web
    url = git@github.com:webkong/workflow-templates/web.git
[submodule "Sentry-test"]
	path = Sentry-test
	url = git@github.com:webkong/Sentry-test.git
