<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="test()">下载</button>
  </body>
  <script src="./lib/index.js"></script>
  <script>
    function test() {
      const arr = [
        'https://active-test.wshareit.com/xaa',
        'https://active-test.wshareit.com/xab',
        'https://active-test.wshareit.com/xac',
        'https://active-test.wshareit.com/xad',
        'https://active-test.wshareit.com/xae',
        'https://active-test.wshareit.com/xaf',
        'https://active-test.wshareit.com/xag',
        'https://active-test.wshareit.com/xah',
        'https://active-test.wshareit.com/xai',
        'https://active-test.wshareit.com/xaj',
        'https://active-test.wshareit.com/xak',
        'https://active-test.wshareit.com/xal',
        'https://active-test.wshareit.com/xam',
        'https://active-test.wshareit.com/xan',
        'https://active-test.wshareit.com/xao',
        'https://active-test.wshareit.com/xap',
        'https://active-test.wshareit.com/xaq',
        'https://active-test.wshareit.com/xar',
        'https://active-test.wshareit.com/xas',
      ];
      console.log(window);
      console.log(window.dFile);
      window.dFile.byThunk(arr);
    }
  </script>
</html>
